<html>
    <head>
        <title>Available Rooms</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        {% load static %}
        <link rel="stylesheet" href="{% static 'senior_des/roompage/css/door1.css' %}" type='text/css'/>
   <!--     <link rel="stylesheet" href="{% static 'senior_des/roompage/css/door2.css' %}" type='text/css'/> --> 
<!--
        {% load static %}
        <link rel="stylesheet" href="{% static 'senior_des/style.css'  %}" type="text/css">
-->
        <script>
            

            var counter = 0;
            var list = [];
            var count = 0;
            function paintDoor( str ) {
                var image;
                //document.write(str);
                var room_arr = str.split(" ");      
                if (room_arr[5] == "not") { //this works
                    image = "red";
                    document.write("red");
                }
                else if (room_arr[5] == "occupied") {
                    image = "green";
                    document.write("green");
                }
                else {
                    document.write("should not get here");
                    image = "should not get here";
                }
                //document.write(image);
                list[count] = image;
                count = count + 1;
                document.getElementById('door').className = image;
                //return image;
            }

            function posBox() {
               counter = counter + 1;
               //document.write(counter);
               temp = 'door' + counter;
               document.write(temp);
               document.getElementById('pos').className = temp;
            }

            function finishDiv() {
                for (i = list.length-1 ; i >= 0 ; i --) {
                    document.getElementById('door').className = list[i];
                }
            }
            function refreshPage() {
                window.setTimeout(function () {
                location.href = "room_page";
                }, 5000);
            }
            /* When the user clicks on the button,
            toggle between hiding and showing the dropdown content */
            function myFunction() {
                document.getElementById("myDropdown").classList.toggle("show");
            }
            
            function refreshNow() {
                location.reload();
            }

            // Close the dropdown menu if the user clicks outside of it
            window.onclick = function(event) {
                if (!event.target.matches('.dropbtn')) {

                    var dropdowns = document.getElementsByClassName("dropdown-content");
                    var i;
                    for (i = 0; i < dropdowns.length; i++) {
                        var openDropdown = dropdowns[i];
                        if (openDropdown.classList.contains('show')) {
                            openDropdown.classList.remove('show');
                        }
                    }
                }
            }
        </script>
    <head>
    <body>

        
        <center> <h1>Welcome</h1>
        Welcome! The following shows the available rooms.  <br> <br />
        <div class="col-md-4">
            <a href="/senior_des/home_page"><h2> Go to Our HomePage </h2></a>
        </div>

<!--
        <div class="col-md-r">
            <a href=> <h2> Clear the Rooms </h2> </a>
        </div>
-->

        <form action="#" method="get" action="">
            <input type="submit" class="btn" value="Refresh Room Page" name="room_btn">
        </form>

        <div class="dropdown">
            <button onclick="myFunction()" class="dropbtn">Filter Rooms</button>
            <div id="myDropdown" class="dropdown-content">
                <a href="room_page" >All Rooms</a>
                <a href="avai_room">Available Rooms</a>
                <a href="#">Room 1</a>
                <a href="#">Room 2</a>
            </div>
        </div>

        </center>

        <div id="containerRoom">

       

        
<!--            <form action="localhost:8000/">
                <input type="Home Page" vale="Go to Google" />
            </form>

            <button class="btn btn-primary" type="button" name="button">
                About Our Project Page
            </button>
-->
            <br />
            <br />
           
          <!--  <script> refreshPage(); </script> -->
             
            {% block rooms %} 
                {% for room in rooms %}
                    
                    <!-- <div id='pos' class = 'door1' >  -->
                    {% if room.isOcc %} 
                    <div id='_door1'>
                        <center> {{room}} </center>
                        
                            <div id='door' class='green'>
                                <img src="{% static 'senior_des/roompage/jpg/img_doors.jpg' %}" alt=""/>
                      
                            </div>
                        
                    </div>
                    {% endif %}

                {% endfor %}

            {% endblock %}

            <br /> 
        </div>
    </body>
</html>
